/* Styling for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
/* Styling for the header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    position: relative;
}

.menubigscreen{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .menubigscreen {
        display: none;
    }
}
.menubigscreen a {
    background-color: transparent;
    padding: 16px;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}
  
.menubigscreen a:hover {
    transform: scale(1.2);
}

.menubigscreen a:nth-child(1):hover {
    transform: scale(1.2);
}

.menubigscreen a:nth-child(2):hover {
    transform: scale(1.2);
}

.menubigscreen a:nth-child(3):hover {
    transform: scale(1.2);
}

.menusmallscreen {
    display: none;
}

@media (max-width: 768px) {
    .menusmallscreen {
        display: block;
    }
}
/*Styling for the dropdown menu */
.menubtn {
    background-color: transparent;
    padding: 16px;
    color: orangered;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2rem;
    width: 2rem;
    border: none;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 35%;
    transition: transform 0.3s ease-in-out;
}
  /*Hover effect on dropdown menu */
.menubtn:hover{
    transform: scale(1.2);
}

/*Styling for the dropdown menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    margin-top: 0;
}
/*Styling for the dropdown menu */
.sidenav a{
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.3s;
    border: solid 1px lightgray;
}
/*Styling for the subnav*/
.dropdownbtn {
    position: relative;
    padding-right: 20px; 
}
  
/*Styiling for the subnav arrow */
.dropdownbtn::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: gray transparent transparent;
}
  
    
/* Styling for home button */
.home {
    background-color: transparent;
    color: orangered;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease-in-out;
}

/* Styling for the Home button */
.home:hover{
    transform: scale(1.2);
}
/* Styling for the Home button */
.home-wrapper {
    margin: auto;
}

/* Styling for the content */
.contentpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.backgroundimg{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.websitetitle{
    background-color: #333;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 70%;
    border-radius: 5%;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Styling for h1 */
.websitetitle h1{
    font-size: 2.5rem;
    color: white;
    background: invisible;
    font-family: barlow, sans-serif;
    font-weight: 500%;
}

.websiteinfo{
    font-size: 1.8rem;
    color: black;
    margin: 40px;
    color: white;
    text-align: center;
    background: invisible;
}

.websitecontent{
    background-color: #333;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for the main menu */
.mainmenu {
    color: black;
    text-align: center;
    background: #333; /* Set the background color for all elements */
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-top: 20px;
}
.mainmenu a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.8rem;
}

.mainmenu a:hover {
    transform: scale(1.2);
}


/* Styling for the footer */
.footer-wrapper {
    position: relative;
    min-height: 80vh;
    margin: 0;
    padding: 0;
    width: 100%;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    margin: 0;
    color: #fff;
    padding: 10px;
    text-align: left;
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
}

.footerlinks {
    display: grid;
    padding: 20px;
}

/* Styling for the footer */
.footerlinks a {
    color: lightgray;
    text-decoration: none;
}

th{
    color: orangered;
    font-weight: bold;
    font-size: 1.2rem;
}


.exercisemenu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 350px;
    padding: 20px;
    list-style-type: none;
    font-size: 40px;
    font-weight: bold;
    color: orangered;
    margin-top: 40px;
}
.exercisemenu li {
    padding: 10px 0;  
}

.exercisemenu iframe {
    width: 150%;
    height: 150%;
    border: none;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}

#prevButton, #nextButton {
    width: 50px; 
    height: 50px; 
    margin-top: 10px;
    position: relative;
    left: 50%;
  }
  /* Styling for the next and previous buttons */
  #prevButton{
    color: #333;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    left: -50px;
  }
  /* Styling for the next and previous buttons */
  #nextButton{
    color: #333;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    right: 50px;
  }
  
#buttonContainer {
    display: flex;
    justify-content: center;
}  

#exercises{
    color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

.scrollablecontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
#Splits{
    color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

h2{
    color: orangered;
    
  }
  /*Styling for p */
.scrollablecontent p {
    position: relative;
    font-size: x-large;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.YTLink{
    text-decoration: none;
    color: orangered;
    font-style: italic;
    font-weight: bold;
}

#Nutrition{
    color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}