/* Styling for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
/* Styling for the header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    position: relative;
}

/* Styling menu for big screen */
.menubigscreen{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Hiding big screen menu when screen small */
@media (max-width: 768px) {
    .menubigscreen {
        display: none;
    }
}

/*Styling menu for big screen */
.menubigscreen a {
    background-color: transparent;
    padding: 16px;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

/*Styling menu for big screen */
.menubigscreen a:hover {
    transform: scale(1.2);
}

/*Styling menu child 1 */
.menubigscreen a:nth-child(1):hover {
    transform: scale(1.2);
}

/*Styling menu child 2 */
.menubigscreen a:nth-child(2):hover {
    transform: scale(1.2);
}

/*Styling menu child 3 */
.menubigscreen a:nth-child(3):hover {
    transform: scale(1.2);
}

/*Hiding menu for small screen */
.menusmallscreen {
    display: none;
}
/*Showing menu for small screen */
@media (max-width: 768px) {
    .menusmallscreen {
        display: block;
    }
}
/*Styling for the dropdown menu button */
.menubtn {
    background-color: transparent;
    padding: 16px;
    color: orangered;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2rem;
    width: 2rem;
    border: none;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 35%;
    transition: transform 0.3s ease-in-out;
}
/*Hover effect on dropdown menu */
.menubtn:hover{
    transform: scale(1.2);
}

/*Styling for the sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    margin-top: 0;
}
/*Styling for the sidenav links */
.sidenav a{
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.3s;
    border: solid 1px lightgray;
}  
    
/* Styling for home button */
.home {
    background-color: transparent;
    color: orangered;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect on the Home button */
.home:hover{
    transform: scale(1.2);
}
/* Styling for the Home button */
.home-wrapper {
    margin: auto;
}

/* Styling for the content */
.contentpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

/* Styling for the background image */
.backgroundimg{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

/* Styling for the website title */
.websitetitle{
    background-color: #333;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 70%;
    border-radius: 5%;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for h1 */
.websitetitle h1{
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
    font-family: barlow, sans-serif;
    font-weight: 500;
}

/* Styling for websiteinfo */
.websiteinfo{
    font-size: 1.8rem;
    color: black;
    margin: 40px;
    color: white;
    text-align: center;
    background-color: transparent;
}

/* Styling for the websitecontent */
.websitecontent{
    background-color: #333;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for the main menu */
.mainmenu {
    color: black;
    text-align: center;
    background: #333; 
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-top: 20px;
}

/* Styling for the main menu links */
.mainmenu a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.8rem;
}

/* Hover effect on the main menu links */
.mainmenu a:hover {
    transform: scale(1.2);
}

/* Styling for the footer */
.footer-wrapper {
    position: relative;
    min-height: 20vh;
    margin: 0;
    padding: 0;
    width: 100%;
}
#contactwrapper{
    min-height: 80vh;
}
/* Styling for the footer */
footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    background-color: #333;
    margin: 0;
    color: #fff;
    text-align: left;
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
}

/* Styling for the footer links */
.footerlinks {
    display: grid;
    padding: 20px;
}

/* Styling for the footer link */
.footerlinks a {
    color: lightgray;
    text-decoration: none;
}

/* Styling for th */
th{
    color: orangered;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Styling for exercise menu */
.exercisemenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    list-style-type: none;
    font-size: 40px;
    font-weight: bold;
    color: orangered;
}

/* Styling for exercise menu videos */
iframe {    
    height: 300%;
    width: 100%;
    border: none;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
    position: relative;
    top: -200px;
}
/* Styling for the next and previous buttons */
#prevButton, #nextButton {
    width: 50px; 
    height: 50px; 
    margin-top: 10px;
    position: relative;
    left: 70%;
    top: -300px;
}
/* Styling for the previous button */
  #prevButton{
    color: #333;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    left: -50px;
}
/* Styling for the next button */
  #nextButton{
    color: #333;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    right: 50px;
}
/* Styling for the button container */
#buttonContainer {
    display: flex;
    justify-content: center;
} 
/* Styling for #exercise */
#exercises{
    color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/* Styling for the scrollable content window*/
.scrollablecontent{
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100%;
    flex: 1;
    margin: 0 5%;
}

#food{
    height: 50%;
    width:50%;
    margin: 0 34%;
}


/* Styling for #Splite*/
#Splits{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/*Styling for p */
.scrollablecontent p {
    position: relative;
    font-size: x-large;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
/* Styling for YTLink*/
.YTLink{
    text-decoration: none;
    color: orangered;
    font-style: italic;
    font-weight: bold;
    margin: 50px;
}
/* Styling for #Nutrition*/
#Nutrition{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/* Styling for #contact*/
#contact{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    border-bottom: lightgray 1px solid;
}
/* Styling for h2 */
h2{
    color: orangered;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
/* Styling for the contact page background */
.ContactPageBackground{
    background-color: whitesmoke;
    width: 100%;
    height: 20vh;
}
/* Styling for the contact page */
.contactpage {
    width: 50%;
    height: 40vh;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    margin: 12% auto;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    text-align: center;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}
/* Styling for icons */
i{
    font-size: xx-large;
    margin-right: 10px;
}
/* Styling for stong */
strong{
    color: orangered;
}
/* Styling for .Mail */
.Mail {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
/* Styling for .Phone */
.Phone {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

