/* Styling for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}
  
/* Styling for the header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;  
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    position: relative;
    width: 100%;
}

/* Styling menu for big screen */
.menubigscreen{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Hiding big screen menu when screen small */
@media (max-width: 768px) {
    .menubigscreen {
        display: none;
    }
}

/*Styling menu for big screen */
.menubigscreen a {
    background-color: transparent;
    padding: 16px;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}


/*Hiding menu for small screen */
.menusmallscreen {
    display: none;
}


/*Styling for the dropdown menu button */
.menubtn {
    background-color: transparent;
    color: orangered;
    font-size: 20px;
    cursor: pointer;
    border: none;
    z-index: 100;
    left: 0;
}

/*Styling for the sidenav*/
.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 62px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 0;
}
/*Styling for the sidenav links */
.sidenav a{
    display: block;
    text-decoration: none;
    padding: 8px 8px 8px ;
    font-size: 25px;
    color: black;
    transition: 0.3s;
    border: solid 1px lightgray;
}  
    
/* Styling for home button */
.home {
    background-color: transparent;
    color: orangered;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

/* Styling for the Home button */
.home-wrapper {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Styling for the content */
.contentpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

/* Styling for the website title */
.websitetitle{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 70%;
    border-radius: 5%;
    text-align: center;
    border-radius: 15px;
}

/* Styling for h1 */
.websitetitle h1{
    font-size: 2.5rem;
    color: orangered;
    font-family: barlow, sans-serif;
    font-weight: 500;
    font-weight: bold;
}

/* Styling for websiteinfo */
.websiteinfo{
    font-size: 2rem;
    margin: 20px;
    font-weight: bold;
    color: orangered;
    text-align: center;
    background-color: transparent;
}


/* Styling for the main menu */
.mainmenu {
    text-align: center;
    border-radius: 15px;
    width: 50%;
    margin-top: 20px;
}

/* Styling for the main menu links */
.mainmenu a {
    color: orangered;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
}

/* Hover effect on the main menu links */
.mainmenu a:hover {
    transform: scale(1.2);
}

/* Styling for the footer */
footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #333;
    margin: 0;
    color: #fff;
    text-align: left;
    box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
}

/* Styling for the footer links */
.footerlinks {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Styling for the footer link */
.footerlinks a {
    color: lightgray;
    text-decoration: none;
}

/* Styling for th */
th{
    color: orangered;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Styling for exercise menu */
.exercisemenubig{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    list-style-type: none;
    font-size: 40px;
    font-weight: bold;
    color: orangered;
}
.exercisemenubig h2{
    margin-top: 100px;
}
/* Styling for exercise menu videos */
iframe {    
    height: 400%;
    width: 100%;
    border: none;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
    position: relative;
    top: -200px;
}
/* Styling for the next and previous buttons */
#prevButton, #nextButton {
    width: 50px; 
    height: 50px; 
    margin-top: 70px;
}
/* Styling for the previous button */
  #prevButton{
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: none;
    left: -50px;
}
/* Styling for the next button */
  #nextButton{
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: none;
    right: 50px;
}
/* Styling for the button container */
#buttonContainer {
    display: flex;
    justify-content: center;
} 
/* Styling for #exercise */
#exercises{
    color: orangered;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/* Styling for the scrollable content window*/
.scrollablecontent{
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100%;
    flex: 1;
    margin: 0 5%;
}

#food{
    height: 50%;
    width:50%;
    margin: 0 34%;
}


/* Styling for #Splite*/
#Splits{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/*Styling for p */
.scrollablecontent p {
    position: relative;
    font-size: x-large;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
/* Styling for YTLink*/
.ytlink{
    text-decoration: none;
    color: orangered;
    font-style: italic;
    font-weight: bold;
    margin: 50px;
}
/* Styling for #Nutrition*/
#Nutrition{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
/* Styling for #contact*/
#contact{
    color: orangered;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    border-bottom: lightgray 1px solid;
}
/* Styling for h2 */
h2{
    color: orangered;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

/* Styling for the contact page */
.contactpage {
    width: fit-content;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 40px;
    text-align: left;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    text-align: center;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
    transform: translateY(50%);
}
/* Styling for icons */
i{
    font-size: xx-large;
    margin-right: 10px;
}
/* Styling for stong */
strong{
    color: orangered;
}
/* Styling for .Mail */
.mail {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
/* Styling for .Phone */
.phone {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
.exercisemenusmall{
    display: none;
}
#footer{
    position: unset;
    bottom: 0;
    margin-top: 200px;
}
@media (max-width: 480px) {
    /*Showing menu for small screen */
    .menusmallscreen {
        display: block;
    }
    /*Styling fot footer */
    footer{
        position: unset;
        margin-top: 50px;
    }
    /*Styling for the .websitetitle h1*/
    .websitetitle h1{
        font-size: 2.25rem;
        margin: 0;
    }
    /*Styling for websiteinfo */
    .websiteinfo{
        font-size: 1.75rem;
        margin: 0px 10px;
    }
    /*Styling for the main menu */ 
    .mainmenu {
        width: 100%;
    }
    /*Styling for the main menu links */
    .mainmenu a {
        font-size: 1.5rem;
        padding: 5px
    }
    /*Styling for the header*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /*Styling for .home*/
    .home{
        position: relative;
        transform: translateX(-50%);
    }
    /*Styling for #contactfooter*/
    #contactfooter{
        position: fixed;
    }
    /*Styling for .exercisemenubig*/
    .exercisemenubig{
        display: none;
    }
    /*Styling for .exercisemenusmall*/
    .exercisemenusmall{
        display: block;
    }
    /*Styling for iframe*/
    .exercisemenusmall iframe{
        height: 200px;
        width: 100%;
        position: unset;
    }
    /*Styling for scrollablecontent*/
    .scrollablecontent{
        text-align: center;
    }   
    /*Styling for scrollablecontent p*/
    .scrollablecontent p {
        margin: 10px 0;
        text-align: center;
    }
    /*Styling for #food */
    #food{
        height: 50%;
        width: 100%;
        position: relative;
        left: -15%;
    }
    /* Styling for the contact page*/
    .contactpage {
        width: 100%;
        transform: translateY(20%);
    }
    /* Styling for .ytlink */
    .ytlink{
        text-align: center;
    }
}